<h1>Add a Video</h1>

<form method='post' action='/photo/upload' enctype='multipart/form-data'>
    <div class="form-group">
        <label>Title</label>        
        <input class="form-control" ng-model="video.title"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="video.description"></textarea>
    </div>
	<div class="form-group">
		<input type="file" ng-model="video.img"><br>
    </div>
    <input type="submit" class="btn btn-primary" value="Save" ng-click="save()"></input>  
</form>